a {
  color: #e4af20;
}
a:hover {
  text-decoration: underline;
}
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1428px;
  font-size: 16px;
  font-family: verdana;
  background-color: #141416;
  color: white;
}

button {
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 12px;
  background-color: black;
  margin-left: 4px;
  font-size: 20px;
}
input[type="submit"]:active,
button:active {
  background-color: #e4af20;
}
input[type="submit"]{
  padding: 4px 8px;
  font-weight: bold;
  text-transform: uppercase;
}
input,
textarea {
  color: black;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  padding: 1px 4px;
}

/* specials */

.sp-font {
  font-size: 150px;
}
.sp-form {
  width: 450px;
}
